html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

body.no-scroll {
  overflow-y: hidden;
}

header {
  background-image: url(../img/header-illsutration-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 91%;
  background-position: 0 60px;
  position: relative;
}

header > img {
  display: none;
}

@media (min-width: 768px) {
  header {
    background-image: none;
    max-width: 1410px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    min-height: 630px;
  }

  header > img {
    display: block;
    width: 100%;
  }

  .sub-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 35px 15px 25px;
}

nav .logo-wrapper {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

nav .humburger-wrapper {
  cursor: pointer;
}

nav a {
  text-decoration: none;
}

@media (min-width: 768px) {
  nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  nav > a {
    display: none;
  }

  nav > div {
    display: none;
  }

  nav ul {
    display: flex;
    margin-top: 0;
    padding: 0;
    list-style: none;
  }

  nav ul .aa {
    display: none;
  }

  nav ul li {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
  }

  nav ul li:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: #008552;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
  }

  nav ul li a {
    font-weight: 600;
    color: #172b4d;
  }
}

@media (max-width: 768px) {
  .mob-background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: calc(-100% - 50px);
    left: -100%;
    transition: 0.5s;
  }

  .active .mob-background {
    left: 0;
    transition: 0.5s;
    background-color: rgba(178, 167, 182, 0.9);
  }

  nav ul {
    position: fixed;
    z-index: 10;
    height: calc(100vh - 60px);
    width: 100%;
    top: 0;
    left: calc(-100% - 50px);
    transition: 0.5s;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    background-color: #fff;
    border-radius: 0 0 25px 25px;
  }

  nav ul li {
    padding-bottom: 15px;
    padding-left: 25px;
  }

  nav ul li:first-child {
    margin-top: 85px;
  }

  .active nav ul {
    left: 0;
    transition: 0.5s;
  }

  nav ul .aa {
    display: flex;
    position: absolute;
    top: 25px;
    right: 33px;
    font-size: 25px;
    color: #67798e;
    cursor: pointer;
  }

  nav ul .aa.mob-l {
    position: absolute;
    bottom: -55px;
    padding-bottom: 0;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
  }

  nav ul li a {
    font-size: 32px;
    color: #3a4a42;
    font-weight: 600;
  }
}

h1 {
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  font-weight: 700;
  line-height: 52px;
  padding-left: 25px;
  padding-right: 25px;
}

h1 span {
  display: block;
}

h1 span:last-child {
  color: #172b4d;
}

h5 {
  color: #172b4d;
  font-size: 20px;
  line-height: 28px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  text-align: center;
  font-weight: 400;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 35px 25px 20px 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social li {
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-wrapper img {
  margin-left: 10px;
}

.arrow-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
}

.image-wrapper img {
  width: 100%;
}

.social li img {
  display: block;
}

.arrow-wrapper img:hover {
  transform: translateY(8px);
  transition: all 0.5s;
}

.banner-section {
  text-align: center;
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
}

.banner-section p {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.37px;
}

@media (min-width: 768px) {
  .banner-section p {
    font-size: 18px;
  }

  h1 {
    padding-top: 12%;
  }
}

.arrow-wrapper {
  padding-top: 30px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.works {
  max-width: 1215px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.works h2 {
  color: #172b4d;
  font-size: 40px;
  text-align: center;
  padding-bottom: 1%;
  position: relative;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .works h2 {
    margin-top: 8%;
  }
}

@media (max-width: 768px) {
  .works h2 {
    padding-bottom: 50px;
  }

  .works h2::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 48px;
    height: 4px;
    background-color: #36b37e;
  }
}

.works .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 370px)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(280px, 370px));
  grid-gap: 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.works .work-item {
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .works .work-item {
    margin-bottom: 0;
  }
}

.works .div-wrapper {
  padding-bottom: 68%;
  background-color: #ebf0ee;
  width: 100%;
}

.works .bottom-part {
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works ul {
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.works ul li {
  margin-bottom: 8px;
}

.about ul li {
  margin-bottom: 8px;
}

.about ul li:not(:last-child) {
  margin-right: 8px;
}

.works ul li:not(:last-child) {
  margin-right: 8px;
}

footer a {
  color: #42526e;
  font-size: 20px;
  text-decoration: none;
}

.works a {
  text-decoration: none;
}

.works h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", serif;
  padding-left: 16px;
  padding-right: 16px;
}

.works li a {
  color: #172b4d;
  font-size: 12px;
  font-weight: 600;
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  display: inline-block;
  border-radius: 4px;
}

.btn-green {
  background: #36b37f;
  border-radius: 4px;
  color: #000;
  padding: 12px;
  display: inline-block;
  margin-top: 10px;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.works .btn-green {
  margin-top: auto;
}

.btn-green:hover {
  -webkit-box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  color: #0a0404;
  transition: all 0.5s;
}

.btn-green:focus {
  background: #008552;
}

.about {
  max-width: 1165px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-x: hidden;
}

.about h2 {
  color: #172b4d;
  font-size: 40px;
  text-align: center;
  padding-top: 12%;
}

.about .items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 5%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

@media (max-width: 768px) {
  .about .items-wrapper {
    padding-top: 60px;
  }
}

.about .item-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 372px;
  flex: 0 1 372px;
  padding-left: 12px;
  padding-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.about .item {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}

@media (max-width: 768px) {
  .about .item {
    height: 310px;
  }
}

.about h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  padding-top: 34px;
  margin-bottom: 23px;
}

.about p {
  color: #42526e;
  font-size: 20px;
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  line-height: 32px;
  position: relative;
}

.about .p-wrapper {
  position: relative;
}

.about .p-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  left: -60px;
  bottom: -65px;
  height: 56px;
  width: 126px;
  background-image: url(../img/about-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.about .p-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  right: -55px;
  top: -130px;
  height: 127px;
  width: 100px;
  background-image: url(../img/about-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .about .p-wrapper::before {
    left: -24px;
    width: 231px;
  }

  .about .p-wrapper::after {
    width: 145px;
  }
}

.about .circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.about ul {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about li a {
  color: #172b4d;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.03em;
  background-color: #fff;
  padding: 12px 12px 12px 12px;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
}

.about .btn-green {
  margin-top: 0;
}

.form {
  max-width: 1165px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-x: hidden;
}

.form label {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.form h2 {
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 60px;
}

.form button {
  border: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media (min-width: 768px) {
  .form {
    display: flex;
    justify-content: space-between;
  }

  .left-col {
    flex: 0 1 40%;
  }

  .right-col {
    flex: 0 1 58%;
  }

  .form h2 {
    margin-top: 55px;
    font-size: 30px;
    margin-bottom: 0;
    text-align: left;
  }

  .form button {
    margin-top: 0;
    -ms-flex-item-align: flex-start;
    -ms-grid-row-align: flex-start;
    align-self: flex-start;
  }
}

.form form {
  display: flex;
  flex-direction: column;
}

.form input {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  margin-bottom: 24px;
  padding-left: 15px;
}

.form textarea {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin-bottom: 24px;
  padding-left: 15px;
  padding-top: 12px;
  height: 100px;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #6b778c;
  font-size: 15px;
}

.form input:focus {
  outline: none;
  border: 1px solid #60c095;
  color: #091e42;
}

.form textarea:focus {
  outline: none;
  border: 1px solid #60c095;
  color: #091e42;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #6b778c;
  font-size: 15px;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #6b778c;
  font-size: 15px;
}

.form input:focus::placeholder,
.form textarea:focus::placeholder {
  color: #091e42;
}

.form input:focus::-webkit-input-placeholder,
.form textarea:focus::-webkit-input-placeholder {
  color: #091e42;
}

.form input:focus:-ms-input-placeholder,
.form textarea:focus:-ms-input-placeholder {
  color: #091e42;
}

.illustration {
  margin-top: -300px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: -1;
}

.illustration .last {
  margin-left: auto;
}

.illustration img:not(.last) {
  margin-top: 12%;
}

footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .social {
  margin-bottom: 0;
  position: relative;
  align-self: stretch;
}

footer .social::after {
  content: "";
  width: 57px;
  height: 146px;
  position: absolute;
  right: 0;
  bottom: 10px;
  background-image: url(../img/illustration-contact-form.svg);
  background-repeat: no-repeat;
}

footer .line {
  background-color: #000;
  height: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  margin-top: 300px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  footer > a {
    display: none;
  }

  footer .line {
    display: none;
  }

  footer .social::after {
    content: none;
  }

  footer .social {
    border-top: 1px solid #d0d9d4;
    padding: 20px 25px 20px 25px;
    margin-top: 0;
  }
}

@media (max-width: 1230px) {
  .illustration .last {
    width: 150px;
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .illustration {
    display: none;
  }
}

.popup-background {
  padding-top: min(5%, 60px);
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  display: none;
}

.no-scroll .popup-background {
  display: block;
}

.popup {
  max-width: 872px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}

.popup .closeclass {
  padding: 3px 12px 7px;
  border-radius: 8px;
  font-size: 24px;
  background-color: #ebecf0;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #67798e;
  cursor: pointer;
}

.image-wrapper {
  border-radius: 8px;
  overflow: hidden;
}

.popup p {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.title-and-btn {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.title-and-btn h2 {
  font-size: 32px;
  margin: 0;
}

.btn-wrapper {
  display: flex;
}

.btn-wrapper .btn-green {
  display: flex;
  align-items: center;
  font-size: 15px;
  border: none;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-left: 12px;
  margin-top: 0;
  white-space: nowrap;
  letter-spacing: initial;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.popup .works {
  padding: 0;
}

.popup .works ul {
  justify-content: initial;
  padding: 0;
}

@media (max-width: 768px) {
  .popup {
    padding: 16px;
  }

  .popup p {
    padding-bottom: 60px;
  }

  .btn-wrapper {
    position: absolute;
    bottom: 18px;
    left: 12px;
    right: 12px;
    justify-content: center;
  }

  .btn-wrapper .btn-green:first-child {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    flex: 0 1 140px;
    justify-content: center;
  }

  .btn-wrapper .btn-green:last-child {
    padding-left: 0;
    padding-right: 0;
    flex: 0 1 150px;
    justify-content: center;
  }

  .popup-background {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .popup .closeclass {
    background-color: transparent;
    color: #fff;
    font-size: 28px;
  }
}

.errorclass {
  display: none;
  color: #008552;
  font-size: 14px;
}
